/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(31, 100%, 70%);
  --pagination-button-color: hsl(0, 0%, 99%);
  --pagination-number-color: hsl(0, 0%, 15%);
}

body.dark-theme {
  --first-color: hsl(31, 76%, 74%);
  --pagination-number-color: hsl(0, 0%, 95%);
  --pagination-button-color: hsl(0, 0%, 28%);

  --button-color: hsl(0, 0%, 24%);
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .nav__login,
.dark-theme .button--gray {
  color: hsl(0, 0%, 95%);
}

.pagination{
    text-align: center;
    margin: 0;
    margin-top: 70px;
    margin-bottom: -10px;
    user-select: none;
  }
  
  .pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .pagination li a{
    color: var(--pagination-number-color);
    text-decoration: none;
    font-size: 0.9em;
    line-height: 40px;
  }
  
  .previous-page, .next-page{
    background: var(--first-color);
    width: 65px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .previous-page:hover{
    transform: translateX(-5px);
  }
  
  .next-page:hover{
    transform: translateX(5px);
  }
  
  .current-page, .dots{
    background: var(--pagination-button-color);
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active{
    background: var(--first-color);
  }
  
  .disable{
    background: var(--pagination-button-color);;
  }

  #searchbar{
    margin-left: 15%;
    margin-top: 8%;
    padding:15px;
    border-radius: 10px;
  }
  input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
  }
  /* When the input field gets focus,
		change its width to 100% */
input[type=text]:focus {
	width: 70%;
}

#list{
	font-size: 1.5em;
	margin-left: 90px;
}

.animals{
    display: list-item;	
}

  @media screen and (max-width: 320px) {
    .pagination{
      margin: 0;
      margin-top: 60px;
      margin-bottom: -30px;
    }
    .pagination li a{
      font-size: 0.8em;
      line-height: 35px;
    }
    .previous-page, .next-page{
      width: 60px;
    }
    .current-page, .dots{
      width: 35px;
    }
  }

  @media screen and (min-width: 625px) {
    .pagination{
      margin: 30px 30px 60px;
      margin-top: 70px;
      margin-bottom: -20px;
    }
    .pagination li a{
      font-size: 0.9em;
      line-height: 40px;
    }
    .previous-page, .next-page{
      width: 70px;
    }
    .current-page, .dots{
      width: 40px;
    }
  }

  @media screen and (min-width: 992px) {
    .pagination{
      margin-top: 80px;
      margin-bottom: -10px;
    }
    .pagination li a{
      font-size: 1em;
      line-height: 45px;
    }
    .previous-page, .next-page{
      width: 80px;
    }
    .current-page, .dots{
      width: 45px;
    }
  }